@page "/ImageViewer/{FileName}"

<img @ref="imageRef" src="@CurFileName" class="display-none" @onload="OnImageLoaded"/>
<div @ref="containerDiv" class="l-container noselect no-touch" @onkeydown="OnKeyDown" @onkeydown:preventDefault @onkeydown:stopPropagation tabindex="0">
    <div @onmousedown="OnMouseDown" @onmousemove="OnMouseMove" @onmouseup="OnMouseUp"
         @onmousewheel="OnMouseWheel"
         >
    <Canvas @ref="canvas" Height="1" Width="1"
            />
    </div>
    <div class="bar-overlay bar-left">
        <span class="oi oi-arrow-left overlay-icon" aria-hidden="true" @onclick="Back"> </span>
        <span class="oi oi-chevron-left overlay-icon center-vertical left-25px" aria-hidden="true" @onclick="Previous"> </span>
    </div>
    <div class="bar-overlay bar-right">
        <span class="oi oi-chevron-right overlay-icon center-vertical right-25px" aria-hidden="true" @onclick="Next"> </span>
    </div>
    <div class="bar-overlay l-top" style="min-height:10px;width:100%;" @onmouseover="OnMouseOverGallery" @onmouseout="OnMouseOutGallery">
        <div class="@galleryClass">
            <div class="flex-row">
                @if (this.portfolioInfo?.FileNames?.Count > 0)
                    {
                    for (int i = 0; i < this.portfolioInfo?.FileNames?.Count;  i++)
                        {
                        int hack = i;  // need to capture current value of i for delegate below.
                        <img src="@FullThumbnailPath(i)" width="150" height="150" style="margin:10px;" @onclick="() => ShowImage(hack)" />
                        }
                    }
            </div>
        </div>
    </div>
    <div class="bar-overlay l-bottom">
        <div class="flex-row">
            <div class="left-25px flex-row">
                <span class="bar-text">@ImageNumber</span>
                <span class="bar-text" @onclick="ToggleHD">@HD</span>
            </div>
            <div class="center-horizontal @TransportControlsClass">
                <span class="oi media-control oi-media-skip-backward overlay-icon" aria-hidden="true" @onclick="OnSkipBackward"> </span>
                <span class="oi media-control oi-media-step-backward overlay-icon" aria-hidden="true" @onclick="OnStepBackward"> </span>
                <span class="oi media-control @PlayPauseClass overlay-icon" aria-hidden="true" @onclick="OnPlayPause"> </span>
                <span class="oi media-control oi-media-step-forward overlay-icon" aria-hidden="true" @onclick="OnStepForward"> </span>
                <span class="oi media-control oi-media-skip-forward overlay-icon" aria-hidden="true" @onclick="OnSkipForward"> </span>
                <span class="bar-text">@FrameInfo</span>
            </div>
            <div class="left-25px zoom">
                <span class="oi oi-minus overlay-icon" @onclick="ZoomOut"/>
                <span class="">@Zoom</span>
                <span class="oi oi-plus overlay-icon" @onclick="ZoomIn"/>
                <span class="@fullScreenClass overlay-icon" aria-hidden="true" @onclick="DoFullScreen"> </span>
            </div>
        </div>
    </div>
</div>
