<div @ref="coverElement" class="cover @CoverClass @ThumbnailsClass" @onmousedown="OnMouseDown">
    <div class="@GroupClass(0)">
        <div class="@ThumbnailClass(0,0) bg-red" style="background-image:url('../@FileName(0,0)')" @onclick="OnClick00"/>
        <div class="@ThumbnailClass(0,1) bg-green" style="background-image:url('../@FileName(0,1)')" @onclick="OnClick01"/>
        <div class="@ThumbnailClass(0,2) bg-blue" style="background-image:url('../@FileName(0,2)')" @onclick="OnClick02"/>
    </div>
    <div class="@GroupClass(1)">
        <div class="@ThumbnailClass(1,0) bg-yellow" style="background-image:url('../@FileName(1,0)')" @onclick="OnClick10"/>
        <div class="@ThumbnailClass(1,1) bg-teal" style="background-image:url('../@FileName(1,1)')" @onclick="OnClick11"/>
        <div class="@ThumbnailClass(1,2) bg-purple" style="background-image:url('../@FileName(1,2)')" @onclick="OnClick12"/>
    </div>
    <div class="@GroupClass(2)">
        <div class="@ThumbnailClass(2,0) bg-aqua" style="background-image:url('../@FileName(2,0)')" @onclick="OnClick20"/>
        <div class="@ThumbnailClass(2,1) bg-gold" style="background-image:url('../@FileName(2,1)')" @onclick="OnClick21"/>
        <div class="@ThumbnailClass(0,2) bg-cyan" style="background-image:url('../@FileName(2,2)')" @onclick="OnClick22"/>
    </div>
</div>
