<div @ref="coverElement" class="cover @CoverClass @ThumbnailsClass" @onmousedown="OnMouseDown">
    <div class="@GroupClass(0)">
        <img class="@ThumbnailClass(0,0) bg-red" src="@FileName(0,0)" @onclick="OnClick00"/>
        <img class="@ThumbnailClass(0,1) bg-green" src="@FileName(0,1)" @onclick="OnClick01"/>
        <img class="@ThumbnailClass(0,2) bg-blue" src="@FileName(0,2)" @onclick="OnClick02"/>
    </div>
    <div class="@GroupClass(1)">
        <img class="@ThumbnailClass(1,0) bg-yellow" src="@FileName(1,0)" @onclick="OnClick10"/>
        <img class="@ThumbnailClass(1,1) bg-teal" src="@FileName(1,1)" @onclick="OnClick11"/>
        <img class="@ThumbnailClass(1,2) bg-purple" src="@FileName(1,2)" @onclick="OnClick12"/>
    </div>
    <div class="@GroupClass(2)">
        <img class="@ThumbnailClass(2,0) bg-aqua" src="@FileName(2,0)" @onclick="OnClick20"/>
        <img class="@ThumbnailClass(2,1) bg-gold" src="@FileName(2,1)" @onclick="OnClick21"/>
        <img class="@ThumbnailClass(0,2) bg-cyan" src="@FileName(2,2)" @onclick="OnClick22"/>
    </div>
</div>
